-
  const $SITE_TITLE = 'Opton Engineering';
  const $FORM_DEFAULT_ACTION = 'https://echo.htmlacademy.ru';

  const modalIncluded = ['product', 'training'];
  const viewportSmallMaxWidth = '(max-width: 767px)';
  const viewportMediumMinWidth = '(min-width: 768px)';
  const viewportMediumMaxWidth = '(max-width: 1319px)';
  const viewportLargeMinWidth = '(min-width: 1320px)';
