-
  const siteName = 'Opton Engineering';
  const viewportSmallMaxWidth = '(max-width: 767px)';
  const viewportMediumMinWidth = '(min-width: 768px)';
  const viewportMediumMaxWidth = '(max-width: 1319px)';
  const viewportLargeMinWidth = '(min-width: 1320px)';

  const $SITE_TITLE = 'НАЗВАНИЕ_САЙТА';
  const $FORM_DEFAULT_ACTION = 'https://echo.htmlacademy.ru';
