-
  const equipmentProductCardCaptions = [
    'Координатно-измерительные машины портального типа ZEISS',
    'Цеховые координатно-измерительные машины ZEISS',
    'Крупногабаритные координатно-измерительные машины ZEISS',
    'Оптические и мультисенсорные машины ZEISS',
    'Координатно-измерительные машины портального типа ZEISS',
    'Цеховые координатно-измерительные машины ZEISS'
  ];
  const productionProductCardCaptions = [
    'ZEISS CONTURA G2',
    'ZEISS ACCURA',
    'ZEISS CONTURA G2',
    'ZEISS ACCURA',
    'ZEISS ACCURA',
    'ZEISS MICURA'
  ];
  const softwareProductCardLabels = [
    'CY',
    'CL',
    'NEO',
    'CO',
    'Pi',
    'GR',
    'ADA'
  ];
  const softwareProductCardCaptions = [
    'ZEISS CALYPSO',
    'ZEISS CALIGO',
    'ZEISS NEO insights',
    'ZEISS colin3D',
    'ZEISS PiWeb',
    'ZEISS GUARDUS',
    'ADAMOS'
  ];
  const softwareProductCardDescriptions = [
    'The east way to get from the drawing to the measturement',
    'Specialist for freeform surfaces',
    'Easily visualize and analyze CT volume data',
    'Software for optical 3D sensor systems',
    'Perfect control of all important data. Everywhere',
    'One for all and all for one',
    'Adaptive Manufacturing Open Solutions'
  ];
  const areasServiceCardCaptions = [
    'Продукты',
    'Решения',
    'Обслуживание и поддержка',
    'Инновационные приборы',
    'Управление качеством',
    'Инновационные приборы',
    'Инновационные приборы'
  ];
  const servicesServiceCardCaptions = [
    'Поставка оборудования',
    'Монтаж оборудования',
    'Аренда оборудования',
    'Проектные работы',
    'Сервисное обслуживание',
    'Лизинг',
    'Обратный инжиниринг',
    'Обучение',
    'Услуги по проведению измерений',
    'Услуги по проведению испытаний материалов'
  ];
  const brandCardLists = [
    [
      'Программное обеспечение для измерительного оборудования'
    ],
    [
      'Испытательные машины',
      'Машины для ударных испытаний',
      'Твердомеры',
      'Оборудование для пробоподготовки'
    ],
    [
      'Испытательные машины',
      'Машины для ударных испытаний',
      'Твердомеры',
      'Оборудование для пробоподготовки'
    ],
    [
      'Координатно-измерительные машины',
      'Оптические и мультисенсорные измерительные системы',
      'Компьютерная томография',
      'Программное обеспечение'
    ],
    [
      'Мобильные координатно-измерительные машины типа «рука»',
      'Идеальная контактная / бесконтактная портативная измерительная система',
      'Лазерные трекеры',
      'Лазерные сканеры',
      'Интеллектуальный портативный 3D-лазерный сканер для профессионалов'
    ],
    [
      'Зубообрабатывающие станки',
      'Зубообрабатывающие машины'
    ],
    [
      'Токарные станки',
      'Фрезерные станки',
      'Горизонтально-расточные станки',
      'Зубообрабатывающие станки'
    ],
    [
      'Профилометры',
      'Кругломеры',
      'Оптические системы контроля тел вращения'
    ],
    [
      'Газовая хроматография',
      'Жидкостная хроматография',
      'Масс-спектрометры',
      'ИК-Фурье-спектрометры'
    ]
  ];
  const brandLogoNames = [
    'Metrologic group',
    'Alicona',
    'Zwick/Roell',
    'Zeiss',
    'Faro',
    'Klingelnberg',
    'Emco group',
    'Jenoptik',
    'Agilent'
  ];
