-
  const $PAGES = {
    'index': ['Главная', `Сайт компании ${$SITE_TITLE}`],
    'about': ['О компании', 'О компании'],
    'areas': ['Направления', 'Направления'],
    'brands': ['Бренды', 'Партнёры'],
    'contacts': ['Контакты', 'Контакты'],
    'product':  ['Карточка продукции', 'Zeiss Contura G2'],
    'production': ['Продукция', 'Zeiss'],
    'services': ['Услуги', 'Услуги'],
    'software': ['Программное обеспечение', 'Zeiss'],
    'training': ['Обучение', 'Обучение'],
  };
