-
  const brandCardLists = [
    [
      'Программное обеспечение для измерительного оборудования'
    ],
    [
      'Испытательные машины',
      'Машины для ударных испытаний',
      'Твердомеры',
      'Оборудование для пробоподготовки'
    ],
    [
      'Испытательные машины',
      'Машины для ударных испытаний',
      'Твердомеры',
      'Оборудование для пробоподготовки'
    ],
    [
      'Координатно-измерительные машины',
      'Оптические и мультисенсорные измерительные системы',
      'Компьютерная томография',
      'Программное обеспечение'
    ],
    [
      'Мобильные координатно-измерительные машины типа «рука»',
      'Идеальная контактная / бесконтактная портативная измерительная система',
      'Лазерные трекеры',
      'Лазерные сканеры',
      'Интеллектуальный портативный 3D-лазерный сканер для профессионалов'
    ],
    [
      'Зубообрабатывающие станки',
      'Зубообрабатывающие машины'
    ],
    [
      'Токарные станки',
      'Фрезерные станки',
      'Горизонтально-расточные станки',
      'Зубообрабатывающие станки'
    ],
    [
      'Профилометры',
      'Кругломеры',
      'Оптические системы контроля тел вращения'
    ],
    [
      'Газовая хроматография',
      'Жидкостная хроматография',
      'Масс-спектрометры',
      'ИК-Фурье-спектрометры'
    ]
  ];
