extends common/_t_default.pug

block variables
  -
    var page = {
      id: 'index',
      title: 'Главная',
      heading: `Сайт компании ${siteName}`
    };

block page-main
  main.page-main(class='page-main--' + page.id)
    .page-main__promo
      +promo()
