extends common/_t_default.pug

block variables
  -
    const page = {
      id: 'index',
      title: 'Главная',
      heading: `Сайт компании ${siteName}`
    };

block page-main
  .page-main__promo
    +promo()
  .page-main__equipment
    +equipment()
  .page-main__intro
    +intro()
  .page-main__partners
    +partners()
