extends common/_t_default.pug

block variables
  -
    const page = {
      id: 'index',
      title: 'Главная',
      heading: `Сайт компании ${siteName}`
    };

block page-main
  .page-main__promo
    +promo()
  .page-main__equipment
    +product-catalog({
      modifier: 'equipment',
      heading: page.heading
    })
  .page-main__intro
    +intro()
  .page-main__partners
    +partners()

block custom-scripts
  script(src='js/jquery-3.3.1.js')
  script(src='js/slick.js')
  script(src='js/promo.js')
  script(src='js/partners.js')
