extends common/_t_default.pug

block variables
  -
    const page = {
      id: 'production',
      title: 'Продукция',
      heading: 'Zeiss'
    };

block page-main
  .page-main__production
    +production()
