extends common/_t_default.pug

block variables
  -
    const page = {
      id: 'services',
      title: 'Услуги',
      heading: 'Услуги'
    };

block page-main
  .page-main__services
    +services(page.heading)
