doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= `Opton: страницы`
    meta(name='description' content='Официальный поставщик измерительного оборудования от ведущих мировых производителей')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='cmsmagazine' content='cdc79537f1d9f113c73cd2fd46ca0125')
    meta(name='author' content='Веб-студия WayToStart')
  body
    h1 Это стартовая страница для тестирования вёрстки
    p Пожалуйста, выберите интересующую страницу сайта:
    ul.tech__list
      mixin tech__item(tech_options)
        li.tech__item
          a.tech__link(href=`${tech_options.url}.html` target='_blank')= tech_options.text
      +tech__item({
        url: 'index',
        text: 'Главная'
      })
      +tech__item({
        url: 'about',
        text: 'О компании'
      })
      +tech__item({
        url: 'areas',
        text: 'Направления'
      })
      +tech__item({
        url: 'brands',
        text: 'Бренды'
      })
      +tech__item({
        url: 'contacts',
        text: 'Контакты'
      })
      +tech__item({
        url: 'product',
        text: 'Продукт'
      })
      +tech__item({
        url: 'production',
        text: 'Продукция'
      })
      +tech__item({
        url: 'services',
        text: 'Услуги'
      })
      +tech__item({
        url: 'software',
        text: 'Программное обеспечение'
      })
      +tech__item({
        url: 'training',
        text: 'Обучение'
      })
