mixin partners()
  section.partners
    .partners__inner
      h2(class=[
        'partners__heading',
        's-heading',
        's-heading--underlined',
        's-aligner'
      ])
        span.s-heading__string Партнёры
      .partners__slider
        .partners__list
          mixin partners__item(partnersItem_number)
            .partners__item
              +brand-logo(partnersItem_number)
          each value, index in brandCardLists
            +partners__item(index)
