//- include ../components/_c_

include ../components/_c_areas.pug
include ../components/_c_banner.pug
include ../components/_c_breadcrumbs.pug
include ../components/_c_equipment.pug
include ../components/_c_intro.pug
include ../components/_c_logo.pug
include ../components/_c_navigation.pug
include ../components/_c_page-footer.pug
include ../components/_c_page-header.pug
include ../components/_с_partners.pug
include ../components/_c_product-card.pug
include ../components/_c_promo.pug
include ../components/_c_service_card.pug
include ../components/_c_social.pug
