//- include ../components/

include ../components/_c_about.pug
include ../components/_c_banner.pug
include ../components/_c_brand-card.pug
include ../components/_c_brand-logo.pug
include ../components/_c_brands.pug
include ../components/_c_breadcrumbs.pug
include ../components/_c_button.pug
include ../components/_c_contacts.pug
include ../components/_c_contacts-badge
include ../components/_c_download.pug
include ../components/_c_form-item.pug
include ../components/_c_intro.pug
include ../components/_c_logo.pug
include ../components/_c_manufacturer-info.pug
include ../components/_c_map.pug
include ../components/_c_order-request.pug
include ../components/_c_navigation.pug
include ../components/_c_navigation-controls.pug
include ../components/_c_page-footer.pug
include ../components/_c_page-header.pug
include ../components/_c_partners.pug
include ../components/_c_product-card.pug
include ../components/_c_product-catalog.pug
include ../components/_c_product-features.pug
include ../components/_c_product-review.pug
include ../components/_c_promo.pug
include ../components/_c_service_card.pug
include ../components/_c_service-catalog.pug
include ../components/_c_social.pug
include ../components/_c_training.pug
