//- include ../data/_d_

include ../data/_d_brand-card.pug
include ../data/_d_brand-logo.pug
include ../data/_d_navigation.pug
include ../data/_d_page-header.pug
include ../data/_d_product-card.pug
include ../data/_d_promo.pug
include ../data/_d_service-card.pug
