html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font;
  min-width: $small-min-width;
  margin: 0;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
