@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Light"),
    local("Roboto-Light"),
    url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Black"),
    local("Roboto-Black"),
    url("../fonts/roboto-black.woff2") format("woff2"),
    url("../fonts/roboto-black.woff") format("woff");
}
