.dropdown__body {
  @media (max-width: $small-max-width) {
    display: none;

    .is-menu-visible & {
      display: block;
    }
  }
}

.dropdown__closed {
  display: inline;

  .is-menu-visible & {
    display: none;
  }
}

.dropdown__opened {
  display: none;

  .is-menu-visible & {
    display: inline;
  }
}
