.heading {
  @include font(900, 32px, 40px);
  text-transform: uppercase;

  &--underlined {
    font-weight: 700;
  }

  @media (min-width: $medium-min-width) {
    font-size: 48px;
    line-height: 56px;
  }

  @media (min-width: $large-min-width) {
    font-size: 64px;
    line-height: 75px;
  }
}

.heading__string {
  .heading--underlined & {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 6px;
      background-color: $blue;
      transition: width 0.25s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
