.heading {
  @include font(900, 32px, 40px);
  text-transform: uppercase;

  &--underlined {
    font-weight: 700;
  }

  &--contacts {
    @include font(700, 28px, 42px);
    text-transform: none;
  }

  @media (min-width: $medium-min-width) {
    font-size: 48px;
    line-height: 56px;

    &--contacts {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.heading__string {
  .heading--underlined & {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 6px;
      background-color: $blue;
      transition: width 0.25s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
