.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__body {
  @for $i from 1 through 3 {
    .js-slide-#{$i} & {
      transform: translateX(calc((#{$i} - 1) * -100% / 3));
    }
  }
}

.slider__controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.slider__controls-wrapper {
  @include margin-hor;
  display: flex;
  justify-content: center;
  width: $small-min-width;
  padding-left: 20px;
  padding-right: 20px;
}

.slider__control-list {
  @include list;
  display: flex;
  margin-bottom: 0;
}

.slider__control-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.slider__control-button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;

  &--current {
    background-color: white;
  }
}
