//TODO: удалить временны outline
//TODO: возможно, перенести сюда padding-left, padding-right

.aligner {
  @include margin-hor;
  width: $small-min-width;

  outline: 1px solid red;
  outline-offset: -1px;
}
