.heading {
  @include font(900, 32px, 40px);
  text-transform: uppercase;

  &--underlined {
    @include font(700, 32px, 40px);
  }
}

.heading__string {
  .heading--underlined & {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 6px;
      background-color: $blue;
      transition: width 0.25s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
