$small-min-width: 320px;
$small-max-width: 767px;
$medium-min-width: 768px;
$medium-max-width: 1319px;
$large-min-width: 1320px;

$blue: #157bd9;
$yellow: #f7bd65;
$gray-border: #e5e5e5;
$gray-intro-bg: #f5f5f5;
