extends ../base/_template_html.pug

block page-id
  -
    const page = {
      id: 'brands',
      title: 'Бренды',
      heading: 'Партнёры'
    };

block page-main
  .page-main__brands
    +brands()
