extends ../base/_template_html.pug

block page-id
  -
    const page = {
      id: 'production',
      title: 'Продукция',
      heading: 'Zeiss'
    };

block page-main
  .page-main__production
    +product-catalog({
      modifier: 'production',
      heading: page.title
    })
