.banner {
  background-color: #4a5559;
  background-image: url("../img/banner--small.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $medium-min-width) {
    background-image: url("../img/banner--medium.jpg");
  }

  @media (min-width: $large-min-width) {
    background-color: transparent;
    background-image: url("../img/banner--large.jpg");
  }
}

.banner__inner {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $medium-min-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $large-min-width) {
    padding: 80px 120px;
  }
}

.banner__heading {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
}
