include ../components/_c_logo.pug
include ../components/_c_main-navigation.pug
include ../components/_c_page.pug
include ../components/_c_page-footer.pug
include ../components/_c_page-header.pug
include ../components/_c_social.pug
