.button {
  @include font(900, 16px, 19px);
  display: block;
  min-width: auto;
  width: 100%;
  padding: 16px 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: $blue;
  border-style: none;
  border-radius: 8px;
}
