-
  const equipmentProductCardCaptions = [
    'Координатно-измерительные машины портального типа ZEISS',
    'Цеховые координатно-измерительные машины ZEISS',
    'Крупногабаритные координатно-измерительные машины ZEISS',
    'Оптические и мультисенсорные машины ZEISS',
    'Координатно-измерительные машины портального типа ZEISS',
    'Цеховые координатно-измерительные машины ZEISS'
  ];
  const productionProductCardCaptions = [
    'ZEISS CONTURA G2',
    'ZEISS ACCURA',
    'ZEISS CONTURA G2',
    'ZEISS ACCURA',
    'ZEISS ACCURA',
    'ZEISS MICURA'
  ];
  const softwareProductCardLabels = [
    'CY',
    'CL',
    'NEO',
    'CO',
    'Pi',
    'GR',
    'ADA'
  ];
  const softwareProductCardCaptions = [
    'ZEISS CALYPSO',
    'ZEISS CALIGO',
    'ZEISS NEO insights',
    'ZEISS colin3D',
    'ZEISS PiWeb',
    'ZEISS GUARDUS',
    'ADAMOS'
  ];
  const softwareProductCardDescriptions = [
    'The east way to get from the drawing to the measturement',
    'Specialist for freeform surfaces',
    'Easily visualize and analyze CT volume data',
    'Software for optical 3D sensor systems',
    'Perfect control of all important data. Everywhere',
    'One for all and all for one',
    'Adaptive Manufacturing Open Solutions'
  ];
