-
  const areasServiceCardCaptions = [
    'Продукты',
    'Решения',
    'Обслуживание и поддержка',
    'Инновационные приборы',
    'Управление качеством',
    'Инновационные приборы',
    'Инновационные приборы'
  ];
  const servicesServiceCardCaptions = [
    'Поставка оборудования',
    'Монтаж оборудования',
    'Аренда оборудования',
    'Проектные работы',
    'Сервисное обслуживание',
    'Лизинг',
    'Обратный инжиниринг',
    'Обучение',
    'Услуги по проведению измерений',
    'Услуги по проведению испытаний материалов'
  ];
