.promo {
  --slider-padding-bottom: 50px;

  @media (min-width: $large-min-width) {
    --slider-padding-bottom: 0;
  }
}

.promo__slider-wrapper {
  @include margin-hor;
  max-width: 1440px;
  overflow: hidden;
}

.promo__item {
  position: relative;
  display: flex;
  height: calc(281px - var(--slider-padding-bottom));
  padding-bottom: var(--slider-padding-bottom);

  @media (min-width: $medium-min-width) {
    height: calc(485px - var(--slider-padding-bottom));
  }

  @media (min-width: $large-min-width) {
    height: 525px;
  }
}

.promo__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 20px;
  color: white;

  @media (min-width: $medium-min-width) {
    padding-top: 64px;
  }

  @media (min-width: $large-min-width) {
    justify-content: flex-start;
    padding-top: 128px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.promo__image-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
  overflow-x: hidden;
}

.promo__image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 770px;

  @media (min-width: $medium-min-width) {
    width: 1330px;
  }

  @media (min-width: $large-min-width) {
    width: 1440px;
  }
}

.promo__title {
  @include font(900, 32px, 36px);
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $medium-min-width) {
    @include font(900, 64px, 75px);
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 0;
  }
}

.promo__subtitle {
  @include font(500, 24px, 28px);
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $medium-min-width) {
    @include font(500, 28px, 33px);
  }

  @media (min-width: $large-min-width) {
    width: 360px;
  }
}
