@mixin list() {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin outline($color: green) {
  outline-width: 1px;
  outline-style: solid;
  outline-color: $color;
  outline-offset: -1px;
}

@mixin size($width: auto, $height: $width) {
  width: $width;
  height: $height;
}

@mixin visually-hiding() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
