mixin social()
  ul.social
    mixin social__item(social_options)
      li.social__item
        a.social__link(
          class=`social__link--${social_options.modifier}`
          href='#'
        )
          span.s-visually-hidden= social_options.caption
    +social__item({
      modifier: 'facebook',
      caption: 'Facebook'
    })
    +social__item({
      modifier: 'twitter',
      caption: 'Twitter'
    })
    +social__item({
      modifier: 'instagram',
      caption: 'Instagram'
    })
