mixin about(about_options)
  .about
    .about__inner.aligner
      h1(class=[
        'about__heading',
        'heading'
      ])= about_options.heading
      p.about__paragraph.paragraph
        | Компания ОПТОН Инжиниринг – официальный поставщик измерительного оборудования от ведущих мировых производителей: Carl Zeiss, FARO, Jenoptik, OGP, Alicona и др.
      p.about__paragraph.paragraph
        | Многолетний опыт поставок позволил нам сконцентрировать линейку продуктов, предлагающих передовые технологии в области контроля качества, высокоточных измерений и промышленного моделирования для любых отраслей промышленности.
      p.about__paragraph.paragraph
        | Хорошо известно, что любые технологии теряют всякую важность без участия квалифицированного персонала. Более 40 высококвалифицированных специалистов на территории России готовы оказать поддержку предлагаемого оборудования. Профессиональная поддержка включает участие в проекте, полную предпродажную и послепродажную техническую поддержку, консультирование, проведение обучающих курсов для персонала заказчика с целью обеспечения максимальной эффективности проекта, как в настоящее время, так и в будущем.
      p.about__paragraph.paragraph
        | ОПТОН Инжиниринг – это команда, работающая как единый слаженный и четкий механизм.
        br
        | Внимание, репутация и доверие – самые важные элементы, необходимые для достижения успеха и повышения потенциала нашей работы. Основной капитал.
