mixin logo(logo_options)
  -
    let logo_linkPath =
      (logo_options.pageId === 'index') ?
      '' : {href: 'index.html'};
  .logo
    a.logo__link&attributes(logo_linkPath)
      img.logo__image(
        src='img/logo.svg'
        width='280' height='16'
        alt='Opton Engineering'
      )
    if (logo_options.pageId === 'index')
      h1.s-visually-hidden= logo_options.pageHeading
