-
  const brandCardList_1 = [
    'Программное обеспечение для измерительного оборудования'
  ];
  const brandCardList_2 = [
    'Испытательные машины',
    'Машины для ударных испытаний',
    'Твердомеры',
    'Оборудование для пробоподготовки'
  ];
  const brandCardList_3 = [
    'Испытательные машины',
    'Машины для ударных испытаний',
    'Твердомеры',
    'Оборудование для пробоподготовки'
  ];
  const brandCardList_4 = [
    'Координатно-измерительные машины',
    'Оптические и мультисенсорные измерительные системы',
    'Компьютерная томография',
    'Программное обеспечение'
  ];
  const brandCardList_5 = [
    'Мобильные координатно-измерительные машины типа «рука»',
    'Идеальная контактная / бесконтактная портативная измерительная система',
    'Лазерные трекеры',
    'Лазерные сканеры',
    'Интеллектуальный портативный 3D-лазерный сканер для профессионалов'
  ];
  const brandCardList_6 = [
    'Зубообрабатывающие станки',
    'Зубообрабатывающие машины'
  ];
  const brandCardList_7 = [
    'Токарные станки',
    'Фрезерные станки',
    'Горизонтально-расточные станки',
    'Зубообрабатывающие станки'
  ];
  const brandCardList_8 = [
    'Профилометры',
    'Кругломеры',
    'Оптические системы контроля тел вращения'
  ];
  const brandCardList_9 = [
    'Газовая хроматография',
    'Жидкостная хроматография',
    'Масс-спектрометры',
    'ИК-Фурье-спектрометры'
  ];
