-
  var navigationData = {
    'index': 'Главная',
    'production': 'Продукция',
    'services': 'Услуги',
    'areas': 'Направления',
    'brands': 'Бренды',
    'about': 'О компании',
    'contacts': 'Контакты'
  };
