-
  var
    promoItemTitles = [
      'Заголовок слайда №1',
      'Купи оборудование',
      'Заголовок слайда №3'
    ],
    promoItemSubtitles = [
      'Это подзаголовок слайда №1',
      'Это внимание, репутация и доверие наших клиентов',
      'А это подзаголовок слайда №3'
    ];
