-
  var
    equipmentProductCardCaptions = [
      'Координатно-измерительные машины портального типа ZEISS',
      'Цеховые координатно-измерительные машины ZEISS',
      'Крупногабаритные координатно-измерительные машины ZEISS',
      'Оптические и мультисенсорные машины ZEISS',
      'Координатно-измерительные машины портального типа ZEISS',
      'Цеховые координатно-измерительные машины ZEISS'
    ];
