- var titleContent;

case pageName
  when 'index'
    - titleContent = 'Главная | Opton Engineering';
  when 'production'
    - titleContent = 'Продукция | Opton Engineering';
  when 'services'
    - titleContent = 'Услуги | Opton Engineering';
  when 'areas'
    - titleContent = 'Направления | Opton Engineering';
  when 'brands'
    - titleContent = 'Бренды | Opton Engineering';
  when 'about'
    - titleContent = 'О компании | Opton Engineering';
  when 'contacts'
    - titleContent = 'Контакты | Opton Engineering';

