-
  const promoItemsData = [
    {
      title: 'Заголовок слайда №1',
      subtitle: 'Это подзаголовок слайда №1'
    },
    {
      title: 'Купи оборудование',
      subtitle: 'Это внимание, репутация и доверие наших клиентов'
    },
    {
      title: 'Заголовок слайда №3',
      subtitle: 'А это подзаголовок слайда №3'
    }
  ];
