-
  var
    equipmentProductCardCaptions = [
      'Координатно-измерительные машины портального типа ZEISS',
      'Цеховые координатно-измерительные машины ZEISS',
      'Крупногабаритные координатно-измерительные машины ZEISS',
      'Оптические и мультисенсорные машины ZEISS',
      'Координатно-измерительные машины портального типа ZEISS',
      'Цеховые координатно-измерительные машины ZEISS'
    ],
    productionProductCardCaptions = [
      'ZEISS CONTURA G2',
      'ZEISS ACCURA',
      'ZEISS CONTURA G2',
      'ZEISS ACCURA',
      'ZEISS ACCURA',
      'ZEISS MICURA'
    ];
