-
  const areasServiceCardCaptions = [
    'Продукты',
    'Решения',
    'Обслуживание и поддержка',
    'Инновационные приборы',
    'Управление качеством',
    'Инновационные приборы',
    'Инновационные приборы'
  ];
