.about__inner {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $medium-min-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $large-min-width) {
    padding: 56px 240px 128px;
  }
}

.about__heading {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $medium-min-width) {
    margin-bottom: 32px;
  }
}

.about__paragraph {
  margin-top: 20px;
  margin-bottom: 0;
  color: $dark-gray;

  @media (min-width: $medium-min-width) {
    margin-top: 24px;
  }
}
