.breadcrumbs__list {
  @include list;
  @include font(400, 14px, 16px);
  display: flex;
  color: #cccccc;
}

.breadcrumbs__item {
  &:not(:last-child) {
    margin-right: 10px;

    &::after {
      content: "/";
      margin-left: 10px;
    }
  }
}
