.contacts__heading {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $medium-min-width) {
    margin-bottom: 40px;
  }
}

.contacts__list {
  @include list;
  margin-bottom: 30px;

  @media (min-width: $medium-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    margin-bottom: 48px;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $medium-min-width) {
    &--address {
      grid-column: 1 / 3;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.contacts__caption {
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $medium-min-width) {
    margin-bottom: 16px;
  }
}

.contacts__text {
  @include font(400, 18px, 21px);
  display: block;
  color: $dark-gray;

  @media (min-width: $medium-min-width) {
    line-height: 27px;
  }
}

.contacts__form-list {
  @include list;
  display: grid;
  grid-row-gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $medium-min-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 24px;
  }
}

.contacts__form-item {
  @media (min-width: $medium-min-width) {
    &--textarea {
      grid-column: 1 / 3;
    }
  }
}

.contacts__button {
  @media (min-width: $medium-min-width) {
    width: calc(50% - 12px);
  }
}
