.intro {
  background-color: $gray-intro-bg;
}

.intro__inner {
  display: grid;
  grid-template-areas:
    "h i"
    "d d";
  grid-row-gap: 30px;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: $medium-min-width) {
    grid-template-areas:
      "h i"
      "d i";
    grid-row-gap: 0;
    grid-column-gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.intro__image-wrapper {
  grid-area: i;
  justify-self: end;
}

.intro__image {
  display: block;
  width: 110px;
  height: auto;

  @media (min-width: $medium-min-width) {
    width: 240px;
  }
}

.intro__heading {
  grid-area: h;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
}

.intro__description {
  grid-area: d;
  margin-top: 0;
  margin-bottom: 0;
}
