.logo {
  height: auto;
  padding: 12px 20px;
  background-color: $gray-header;
}

.logo__link {
  width: 183px;
  display: block;

  @media (min-width: $medium-min-width) {
    @include margin-hor;
    width: 443px;
  }
}

.logo__image {
  display: block;
  width: 100%;
  height: auto;
}
