.logo {
  width: 183px;
  height: auto;

  @media (min-width: $medium-min-width) {
    @include margin-hor;
    width: 443px;
  }
}

.logo__link {
  display: block;
}

.logo__image {
  display: block;
  width: 100%;
  height: auto;
}
