.navigation__list {
  @include list;
  margin-bottom: 0;

  .navigation--header & {
    @include font(400, 16px, 19px);
    width: 100%;
  }

  .navigation--footer & {
    @include font(400, 16px, 19px);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-row-gap: 24px;
    justify-content: space-around;
    text-transform: uppercase;
    color: white;
  }
}

.navigation__item {
  .navigation--header & {
    border-bottom: 1px solid $gray-border;

    &:first-child {
      border-top: 1px solid $gray-border;
    }
  }
}

.navigation__link {
  .navigation--header & {
    display: block;
    padding: 10px 15px;
    text-align: center;
    background-color: white;

    &--current {
      background-color: $gray-intro-bg;
    }
  }
}
