.navigation__list {
  @include list;
  margin-bottom: 0;

  .navigation--header & {
    @include font(400, 16px, 19px);
    width: 100%;
  }
}

.navigation__item {
  .navigation--header & {
    border-bottom: 1px solid $gray-border;

    &:first-child {
      border-top: 1px solid $gray-border;
    }
  }
}

.navigation__link {
  .navigation--header & {
    display: block;
    padding: 10px 15px;
    text-align: center;
    background-color: white;

    &--current {
      background-color: $gray-intro-bg;
    }
  }
}
