.page__header {
  .page--production & {
    margin-bottom: 20px;
  }

  .page--contacts & {
    margin-bottom: 30px;
  }

  .page--software & {
    margin-bottom: 20px;
  }

  .page--product & {
    margin-bottom: 20px;
  }
}

.page__order-request {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
}

.page__main {
  .page--product & {
    margin-bottom: 40px;
  }
}
