.page-footer {
  background-color: #333333;
}

.page-footer__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.page-footer__contact-list {
  @include list;
  margin-bottom: 0;
}

.page-footer__navigation {
  margin-bottom: 20px;
}

.page-footer__social {
  margin-bottom: 20px;
}
