.page-header__base {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto 280px 40px auto;

  @media (min-width: $large-min-width) {
    justify-content: space-between;
    align-items: baseline;
    padding-top: 37px;
    padding-bottom: 28px;
  }
}

.page-header__logo {
  grid-area: 2 / 2 / 3 / 4;
}

.page-header__navigation-controls {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center;

  @media (min-width: $medium-min-width) {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  @media (min-width: $large-min-width) {
    display: none;
  }
}

.page-header__navigation {
  grid-area: 3 / 2 / 4 / 4;

  @media (max-width: $medium-max-width) {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    background-color: $gray-header;

    .is-menu-visible & {
      z-index: 0;
    }
  }

  @media (min-width: $large-min-width) {
    width: 845px;
  }
}

.page-header__contacts {
  grid-area: 1 / 2 / 2 / 4;
}

// .page-header__inner-wrapper {
//   @include margin-hor;
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: $small-min-width;


//   @media (min-width: $medium-min-width) {
//     width: 100%;
//     padding-bottom: 25px;
//     padding-left: 40px;
//     border-bottom: 1px solid $gray-navigation-border;
//   }

//   @media (min-width: $large-min-width) {
//     margin-bottom: 24px;
//     padding-bottom: 34px;
//     padding-left: 0;
//   }
// }

// .page-header__navigation-inner {
//   @media (max-width: $medium-max-width) {
//     transform: translateY(-100%);

//     .is-menu-visible & {
//       transform: translateY(0);
//     }
//   }
// }

.page-header__breadcrumbs {
  position: relative;
  margin-top: 30px;

  @media (min-width: $medium-min-width) {
    margin-top: 40px;
  }

  @media (min-width: $large-min-width) {
    margin-top: 56px;
  }
}
