.page-footer {
  background-color: #333333;
}

.page-footer__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__navigation {
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__contact-list {
  @include list;
  @include font(500, 16px, 19px);
  margin-bottom: 0;
  text-align: center;
  color: white;
}

.page-footer__contact {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
