.page-header__base {
  position: relative;
  display: grid;
  grid-template: repeat(3, auto) / auto;

  @media (min-width: $medium-min-width) {
    @include margin-hor;
    width: $medium-min-width;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $large-min-width) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 845px 1fr;
    grid-column-gap: 140px;
    width: $large-min-width;
  }
}

.page-header__logo {
  grid-area: 2 / 1 / 3 / 2;
  background-color: $gray-header;

  @media (min-width: $medium-min-width) {
    grid-area: 1 / 1 / 2 / 2;
    background-color: transparent;
  }

  @media (min-width: $large-min-width) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.page-header__navigation-controls {
  grid-area: 2 / 1 / 3 / 2;
  position: absolute;
  top: 10px;
  left: calc(50% + 120px);
  display: flex;
  align-items: center;

  @media (min-width: $medium-min-width) {
    display: none;
  }
}

.page-header__navigation {
  grid-area: 3 / 1 / 4 / 2;
  position: absolute;
  z-index: 1;
  left: calc(50% - 160px);
  background-color: $gray-header;

  @media (min-width: $medium-min-width) {
    position: static;
    left: auto;
    z-index: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
  }

  @media (min-width: $large-min-width) {
    grid-area: 2 / 1 / 3 / 2;
    align-self: baseline;
    width: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header__contacts {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  background-color: $blue;

  @media (min-width: $medium-min-width) {
    grid-area: 2 / 1 / 3 / 2;
    background-color: transparent;
  }

  @media (min-width: $large-min-width) {
    grid-area: 2 / 2 / 3 / 3;
    align-self: baseline;
    width: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header__breadcrumbs {
  position: relative;
  margin-top: 30px;

  @media (min-width: $medium-min-width) {
    margin-top: 40px;
  }

  @media (min-width: $large-min-width) {
    margin-top: 56px;
  }
}
