.page-header__base {
  display: flex;
  flex-direction: column;

  @media (min-width: $large-min-width) {
    justify-content: space-between;
    align-items: baseline;
    padding-top: 37px;
    padding-bottom: 28px;
  }
}

.page-header__outer-wrapper {
  background-color: $gray-header;

  @media (max-width: $medium-max-width) {
    .is-menu-visible & {
      z-index: 1;
    }
  }
}

.page-header__inner-wrapper {
  @include margin-hor;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $small-min-width;
  padding: 12px 20px;

  @media (min-width: $medium-min-width) {
    width: 100%;
    padding-bottom: 25px;
    padding-left: 40px;
    border-bottom: 1px solid $gray-navigation-border;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 24px;
    padding-bottom: 34px;
    padding-left: 0;
  }
}

.page-header__menu-controls {
  display: flex;
  align-items: center;

  @media (min-width: $medium-min-width) {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  @media (min-width: $large-min-width) {
    display: none;
  }
}

.page-header__button {
  position: relative;
  display: block;
  width: 20px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/page-header__button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 2px;
  border-style: none;
  transition: all 0.1s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    transform-origin: center;
    transition: all 0.1s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    transition: all 0.1s;
  }

  .is-menu-visible & {
    background-size: 0 2px;

    &::before {
      top: calc(50%);
      width: 100%;
      height: 2px;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      bottom: calc(50%);
      width: 100%;
      height: 2px;
      transform: translateY(50%) rotate(-45deg);
    }
  }
}

.page-header__button-text {
  &--closed {
    display: inline;

    .is-menu-visible & {
      display: none;
    }
  }

  &--opened {
    display: none;

    .is-menu-visible & {
      display: inline;
    }
  }
}

.page-header__navigation {
  @media (max-width: $medium-max-width) {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    background-color: $gray-header;

    .is-menu-visible & {
      z-index: 0;
    }

    @media (min-width: $medium-min-width) {
      top: 70px;
      left: 0;
      right: auto;
      width: 50%;
    }
  }

  @media (min-width: $large-min-width) {
    width: 845px;
  }
}

.page-header__navigation-inner {
  @media (max-width: $medium-max-width) {
    transform: translateY(-100%);

    .is-menu-visible & {
      transform: translateY(0);
    }
  }
}

.page-header__contacts {
  order: -1;
  background-color: $blue;
}

.page-header__contact-list {
  @include margin-hor;
  @include list;
  display: flex;
  justify-content: space-between;
  width: $small-min-width;
  padding: 8px 20px;


  @media (min-width: $medium-min-width) {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  @media (min-width: $large-min-width) {
    justify-content: space-between;
    align-content: stretch;
    width: 290px;
    font-size: 14px;
    line-height: 16px;
  }
}

.page-header__contact {
  @include font(400, 12px, 14px);
  text-transform: uppercase;
  color: white;
}

.page-header__breadcrumbs {
  position: relative;
  margin-top: 30px;

  @media (min-width: $medium-min-width) {
    margin-top: 40px;
  }

  @media (min-width: $large-min-width) {
    margin-top: 56px;
  }
}
