.promo {
  --slider-padding-bottom: 50px;

  @media (min-width: $large-min-width) {
    --slider-padding-bottom: 0;
  }
}

.promo__list {
  @include list;
  display: flex;
  width: 300%;
}

.promo__item {
  display: flex;
  width: calc(100% / 3);
  height: calc(281px - var(--slider-padding-bottom));
  padding-bottom: var(--slider-padding-bottom);
  background-color: #343434;
  background-image: url("../img/promo__item--small.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $medium-min-width) {
    background-image: url("../img/promo__item--medium.jpg");
  }

  @media (min-width: $large-min-width) {
    height: 525px;
    background-image: url("../img/promo__item--large.jpg");
  }
}

.promo__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 20px;
  color: white;

  @media (min-width: $large-min-width) {
    justify-content: flex-start;
    padding-top: 128px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.promo__title {
  @include font(900, 32px, 36px);
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $medium-min-width) {
    @include font(900, 64px, 75px);
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 0;
  }
}

.promo__subtitle {
  @include font(500, 24px, 28px);
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $medium-min-width) {
    @include font(500, 28px, 33px);
  }

  @media (min-width: $large-min-width) {
    width: 360px;
  }
}
