.service-card__link {
  position: relative;
  display: block;
}

.service-card__image {
  display: block;
  border-radius: 8px;
}

.service-card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 106px;
  max-height: 219px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 8px 8px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition-property: height;
    transition-duration: 0.2s;
  }

  .service-card__link:hover &::before {
    height: 30px;
  }

  @media (min-width: $medium-min-width) {
    min-height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: $large-min-width) {
    min-height: 113px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.service-card__caption {
  @include font(500, 28px, 33px);
  margin-top: 0;
  margin-bottom: 0;
  color: white;

  @media (min-width: $medium-min-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $large-min-width) {
    font-size: 28px;
    line-height: 33px;
  }
}
