.services__inner {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.services__heading {
  @include font(900, 32px, 40px);
  margin-top: 0;
  text-transform: uppercase;
}

.services__list {
  @include list;
  display: grid;
  grid-row-gap: 20px;
}

