.training__inner {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding-top: 40px;
  padding-bottom: 40px;
}

.training__image {
  display: block;
  width: 280px;
  height: auto;
  margin-bottom: 30px;
}

.training__heading {
  grid-row: 1 / 2;
  margin-top: 0;
  margin-bottom: 20px;
}

.training__description {
  margin-top: 0;
  margin-bottom: 30px;
  color: $dark-gray;
}
