//- include ../global/mixins/ {...}
//- include ../components/scaffold/ {...}

include ../components/capital/about/_mx_about.pug
include ../components/capital/banner/_mx_banner.pug
include ../components/capital/brands/_mx_brands.pug
include ../components/capital/breadcrumbs/_mx_breadcrumbs.pug
include ../components/capital/button/_mx_button.pug
include ../components/capital/contacts-badge/_mx_contacts-badge.pug
include ../components/capital/contacts/_mx_contacts.pug
include ../components/capital/download/_mx_download.pug
include ../components/capital/form-item/_mx_form-item.pug
include ../components/capital/intro/_mx_intro.pug
include ../components/capital/logo/_mx_logo.pug
include ../components/capital/manufacturer-info/_mx_manufacturer-info.pug
include ../components/capital/map/_mx_map.pug
include ../components/capital/navigation-controls/_mx_navigation-controls.pug
include ../components/capital/order-request/_mx_order-request.pug
include ../components/capital/page-footer/_mx_page-footer.pug
include ../components/capital/product-card/_mx_product-card.pug
include ../components/capital/product-catalog/_mx_product-catalog.pug
include ../components/capital/product-features/_mx_product-features.pug
include ../components/capital/product-review/_mx_product-review.pug
include ../components/capital/social/_mx_social.pug
include ../components/capital/training/_mx_training.pug

include ../components/capital/brand-card/_mx_brand-card.pug
include ../components/capital/brand-logo/_mx_brand-logo.pug
include ../components/capital/navigation/_mx_navigation.pug
include ../components/capital/page-header/_mx_page-header.pug
include ../components/capital/partners/_mx_partners.pug
include ../components/capital/promo/_mx_promo.pug
include ../components/capital/service_card/_mx_service-card.pug
include ../components/capital/service-catalog/_mx_service-catalog.pug
