include _import_functions.pug

include ../global/data/_dt_common.pug
include ../global/data/_dt_pages.pug

block page-id

- const [$pageTitle, $pageHeading] = $PAGES[$pageId];

include _import_methods.pug
include _import_mixins.pug

doctype html
html(class='page', lang='ru')
  include ../global/head/_head.pug
  body(class=setModifiers('body', [$pageId]))
    .body__container
      header.body__header
        block body__header
      main.body__main
        block body__main
      footer.body__footer
        block body__footer
    include ../components/capital/body/_body__Scripts.pug
