.#{$this} {
  @include margin-hor();
  width: $small-min-width;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    width: $medium-min-width;
  }

  @media (min-width: $large-min-width) {
    width: $large-min-width;
  }
}
