mixin areas()
  .areas
    .areas__inner
      p.areas__description
        | CONTURA — широкая платформа от ZEISS для гибкого, надежного и бескомпромиссного обеспечения качества. Последнее поколение еще точнее и предлагает большой пакет оптических датчиков в верхней части большего диапазона измерений. Выдающаяся технология сканирования, справочное программное обеспечение ZEISS CALYPSO и полностью настроенная общая концепция позволяют ZEISS CONTURA закрепить свое место в качестве стандарта в своем классе.
      ul.areas__list
        mixin areas__item(areasItem_number)
          li.areas__item
            +service-card({
              componentModifier: 'areas',
              itemNumber: areasItem_number,
              captionStack: areasServiceCardCaptions
            })
        each value, index in areasServiceCardCaptions
          +areas__item(index + 1)
