mixin button(button_options)
  - let modifierClass = `button--${button_options.typeModifier}`;
  case button_options.typeModifier
    when 'request'
      a.button.modal__open-button(class=modifierClass href='#') Отправить заявку
    when 'send'
      button.button(class=modifierClass type='submit')
        span.button-fix Отправить
