mixin button(button_options)
  - let modifierClass = `button--${button_options.typeModifier}`;
  case button_options.typeModifier
    when 'request'
      a.button.page__modal-opener(class=modifierClass href='#') Отправить заявку
    when 'send'
      button.button(class=modifierClass type='submit')
        span.button-fix Отправить
    when 'cancel'
      button.button(class=modifierClass type='reset')
        span.button-fix Отмена
