mixin contacts-badge
  ul.contacts-badge
    li.contacts-badge__item
      a.contacts-badge__link.contacts-badge__link--email(href='mailto:info@mail.ru')
        | info@mail.ru
    li.contacts-badge__item
      a.contacts-badge__link.contacts-badge__link--tel(href='tel:+74956645520')
        | +7 (495) 664-55-20
