mixin contacts(contacts_options)
  .contacts
    .contacts__inner.aligner
      h1(class=[
        'contacts__heading',
        'heading'
      ])= contacts_options.heading
      ul.contacts__list
        li.contacts__item.contacts__item--address
          h3.contacts__caption Адрес
          span.contacts__text 115088, Москва, ул. Угрешская, д.2, стр.53
        li.contacts__item.contacts__item--phone
          h3.contacts__caption Телефон
          span.contacts__text
            a.contacts__link(href='tel:+74956645520')
              | +7 (495) 664-55-20
        li.contacts__item.contacts__item--email
          h3.contacts__caption E-mail
          span.contacts__text
            a.contacts__link(href='mailto:info@opton.ru')
              | info@opton.ru
      form.contacts__form(
        name='question'
        action='https://echo.htmlacademy.ru'
        method='POST'
      )
        ul.contacts__form-list
          li.contacts__form-item.contacts__form-item--firstname
            +form-item({
              tag: 'input',
              type: 'text',
              id: 'firstname',
              text: 'Имя'
            })
          li.contacts__form-item.contacts__form-item--lastname
            +form-item({
              tag: 'input',
              type: 'text',
              id: 'lastname',
              text: 'Фамилия'
            })
          li.contacts__form-item.contacts__form-item--telephone
            +form-item({
              tag: 'input',
              type: 'tel',
              id: 'telephone',
              text: 'Номер телефона'
            })
          li.contacts__form-item.contacts__form-item--email
            +form-item({
              tag: 'input',
              type: 'email',
              id: 'email',
              text: 'Email'
            })
          li.contacts__form-item.contacts__form-item--textarea
            +form-item({
              tag: 'textarea',
              id: 'message',
              text: 'Введите текст'
            })
        .contacts__button
          +button({
            typeModifier: 'send'
          })
