mixin equipment()
  section.equipment
    .equipment__inner.aligner
      h2(class=[
        'equipment__heading',
        'heading',
        'heading--underlined'
      ])
        span.heading__string Оборудование
      ul.equipment__list
        mixin equipment__item(equipment_itemNumber)
          li.equipment__item
            +product-card({
              componentModifier: 'equipment',
              itemNumber: equipment_itemNumber,
              imageLegend: 'Оборудование, изображение',
              captionStack: equipmentProductCardCaptions
            })
        each value, index in equipmentProductCardCaptions
          +equipment__item(index + 1)
