mixin equipment()
  section.equipment
    .equipment__inner
      h2.equipment__heading Оборудование
      ul.equipment__list
        mixin equipment__item(itemNumber)
          li.equipment__item
            +product-card(
              'equipment',
              itemNumber,
              'Оборудование',
              equipmentProductCardCaptions
            )
        - let i = 1;
        while i <= 6
          +equipment__item(i)
          - i++;
