mixin equipment()
  section.equipment
    .equipment__inner
      h2.equipment__heading Оборудование
      ul.equipment__list
        mixin equipment__item(equipment_itemNumber)
          li.equipment__item
            +product-card({
              componentModifier: 'equipment',
              itemNumber: equipment_itemNumber,
              imageLegend: 'Оборудование, изображение',
              captionStack: equipmentProductCardCaptions
            })
        each value, index in equipmentProductCardCaptions
          +equipment__item(index + 1)
