mixin intro()
  section.intro
    .intro__inner
      img.intro__image(scr='img/intro.jpg' alt='Микроскоп')
      h2.intro__heading Что мы делаем?
      p.intro__description Для эффективного решения ваших производственных задач мы предлагаем поставку, внедрение, сервисное обслуживание современного высокотехнологичного измерительного, аналитического и обрабатывающего оборудования, инструмента, а также программного обеспечения от лучших мировых производителей.
