mixin logo(logo_options={pageId, pageHeading})
  -
    let logo_linkPath =
      (logo_options.pageId === 'index') ?
      '' : {href: 'index.html'};
  .logo
    a.logo__link&attributes(logo_linkPath)
      img.logo__image(src='img/logo.png' alt='Opton Engineering')
    if (logo_options.pageId === 'index')
      h1.visually-hidden= logo_options.pageHeading
