mixin logo(logo_options)
  - let logo_linkPath = {href: 'index.html'};
  if (logo_options.pageId === 'index')
    - logo_linkPath = '';
  .logo
    a.logo__link&attributes(logo_linkPath)
      img.logo__image(src='img/logo.png' alt='Opton Engineering')
    if (logo_options.pageId === 'index')
      h1.visually-hidden= logo_options.pageHeading
