mixin logo(logo_PageId, logo_PageHeading)
  - var logoLinkPath = {href: 'index.html'};
  if (logo_PageId === 'index')
    - var logoLinkPath = '';
  .logo
    a.logo__link&attributes(logoLinkPath)
      img.logo__image(src='img/logo.png' alt='Opton Engineering')
    h1.visually-hidden= logo_PageHeading
