mixin logo(logo_pageId, logo_pageHeading)
  - let logoLinkPath = {href: 'index.html'};
  if (logo_pageId === 'index')
    - logoLinkPath = '';
  .logo
    a.logo__link&attributes(logoLinkPath)
      img.logo__image(src='img/logo.png' alt='Opton Engineering')
    if (logo_pageId === 'index')
      h1.visually-hidden= logo_pageHeading
