mixin manufacturer-info()
  .manufacturer-info
    img.manufacturer-info__image(src='img/manufacturer-info__image.png' alt='ZEISS')
    .manufacturer-info__text
      span.manufacturer-info__legend Производитель
      h4.manufacturer-info__name Carl Zeiss Industrial Metrology
