mixin main-navigation(pageName, componentPosition)
  nav.main-navigation(class='main-navigation--' + componentPosition)
    ul.main-navigation__list
      mixin main-navigation__item(itemPath, itemText)
        li.main-navigation__item
          - var itemLink = {href: itemPath + '.html'};
          if (itemPath === pageName)
            - var itemLink = '';
          a.main-navigation__link&attributes(itemLink)= itemText
      +main-navigation__item('index', 'Главная')
      +main-navigation__item('production', 'Продукция')
      +main-navigation__item('services', 'Услуги')
      +main-navigation__item('areas', 'Направления')
      +main-navigation__item('brands', 'Бренды')
      +main-navigation__item('about', 'О компании')
      +main-navigation__item('contacts', 'Компании')
