mixin navigation-controls
  .navigation-controls
    button.navigation-controls__button.dropdown__toggle(
      type='button'
    )
      span(
        class=[
          'visually-hidden',
          'navigation-controls__button-text',
          'dropdown__closed'
        ]) Показать главное меню
      span.navigation-controls__inner
        span(
          class=[
            'visually-hidden',
            'navigation-controls__button-text',
            'dropdown__opened'
          ]) Скрыть главное меню
