mixin navigation(navigation_options)
  nav.navigation(class=`navigation--${navigation_options.componentPosition}`)
    ul.navigation__list
      mixin navigation__item(navigationItem_Path, navigationItem_text)
        li.navigation__item
          - let itemLink = {href: navigationItem_Path + '.html'};
          if (navigationItem_Path === navigation_options.pageId)
            - itemLink = '';
          a.navigation__link&attributes(itemLink)= navigationItem_text
      each value, key in navigationData
        +navigation__item(key, value)
