mixin page(pageName, pageTitle)
  body.page(class='page--' + pageName)
    .page__header
      +page-header(pageName, pageTitle)
    .page__main
      if pageName = 'index'
        include page-main--index.pug
    .page__footer
      +page-footer(pageName)
