mixin page-header(pageName)
  header.page-header(class='page-header--' + pageName)
    .page-header__inner
      .page-header__logo
        +logo('Сайт компании Opton Engineering')
      .page-header__main-navigation
        +main-navigation(pageName, 'header')
      ul.page-header__contact-list
        li.page-header__contact
          a.page-header__contact-content.page-header__contact-content--email(href='mailto:info@mail.ru')
            | info@mail.ru
        li.page-header__contact
          a.page-header__contact-content.page-header__contact-content--tel(href='tel:+74956645520')
            | +7 (495) 664-55-20
