mixin page-header(pageHeader_options)
  header.page-header(
    class=`page-header--${pageHeader_options.pageId}`
    )
    .page-header__base.dropdown
      .page-header__logo
        +logo({
          pageId: pageHeader_options.pageId,
          pageHeading: pageHeader_options.pageHeading
        })
      .page-header__navigation-controls
        +navigation-controls()
      .page-header__navigation.dropdown__body
        +navigation({
          pageId: pageHeader_options.pageId,
          componentPosition: 'header'
        })
      .page-header__contacts
        +contacts-badge()
    each name in hasBanner
      if (name === pageHeader_options.pageId)
        .page-header__banner
          +banner(pageHeader_options.pageHeading)
    each name in hasBreadcrumbs
      if (name === pageHeader_options.pageId)
        .page-header__breadcrumbs
          +breadcrumbs(pageHeader_options.pageId)
