mixin production()
  .production
    .production__inner
      ul.production__list
        mixin production__item(production_itemNumber)
          li.production__item
            +product-card({
              componentModifier: 'production',
              itemNumber: production_itemNumber,
              imageLegend: 'Продукция, изображение',
              captionStack: productionProductCardCaptions
            })
        each value, index in productionProductCardCaptions
          +production__item(index + 1)
