mixin promo()
  header.promo
    .promo__inner
      .promo__slider
        ul.promo__list
          mixin promo__item(promoItem_options)
            li.promo__item(class=`promo__item--${promoItem_options.number}`)
              h3.promo__title= promoItem_options.title
              p.promo__subtitle= promoItem_options.subtitle
          each value, index  in promoItemsData
            +promo__item({
              number: index + 1,
              title: value.title,
              subtitle: value.subtitle
            })
