mixin partners()
  section.partners
    .partners__inner
      h2.partners__heading.underlined-heading.aligner
        span.underlined-heading__string Партнёры
      .partners__slider
        div.partners__list
          mixin partners__item(partnersItem_number)
            div.partners__item
              +brand-logo(partnersItem_number)
          each value, index in brandCardLists
            +partners__item(index)
