mixin page-header(pageName)
  header.page-header(class='page-header--' + pageName)
    .page-header__inner
      .page-header__logo
        +logo('Сайт компании Opton Engineering')
      .page-header__main-navigation
        +main-navigation(pageName, 'header')
      .page-header__contacts
        .page-header__email
          span.page-header__email-text info@mail.ru
        .page-header__phone
          span.page-header__phone +7 (495) 664-55-20
