mixin social()
  ul.social
    mixin social__item(itemLinkAddition, itemName)
      li.social__item
        a.social__link(class='social__link--' + itemLinkAddition href='#')
          span.visually-hidden= itemName
    +social__item('facebook', 'Facebook')
    +social__item('twitter', 'Twitter')
    +social__item('instagram', 'Instagram')
