mixin partners()
  section.partners
    .partners__inner
      .partners__heading
      .partners__slider
        ul.partners__list
          mixin partners__item(itemNumber)
            li.partners__item
              img.partners__image(
                src=`img/partners__image--${itemNumber}`
                alt=`Логотип партнёра №${itemNumber}`
              )
          - var i = 1;
          while i <= 9
            +partners__item(i)
            - i++;
